@inherits OwnBaseComponent

<h3>TestsComponent</h3>

<RadzenButton Click="TestFunc" Text="Test DoSafeFunc" />
<RadzenButton Click="TestFuncWithException" Text="Test DoSafeFunc with Exception" />
<RadzenButton Click="TestAction" Text="Test DoSafeAction" />
<RadzenButton Click="GotToCounter" Text="Go to Counter" />